/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* .table{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center; */


    /* padding-left: 100px; */
    /* font-size: 40px; */
    /* background: #eb6868; */

    
    
/* } */

/* .table table{
    border-collapse: collapse;
    border: none;
}

.table th{
    padding: 10px 0 15px;
    font-size: var(--fontSize_13px);
    color: var(--greyTexts);
    font-weight: 500;
}

.table td {
  border-radius: var(--borderRadius);
  padding: .8rem .5rem;
  -webkit-box-shadow: var(--boxShadow);
          box-shadow: var(--boxShadow);
  font-size: var(--fontSize_13px);
} */

/* .table > p{
    padding-left: 0.8rem;
    padding-top: 2rem;
    font-size: 25px;
} */


/* .played {
    padding-left: 30px;
} */
